p{
font-size:20px;	
color:#deded7;
}


.listitem {
font-size:20px;
color:white;
}


.paragraph {
	font-size:20px;
}


#background {
background-color:gray
}


#button {
width:100px;
height:18px;
color:white;
background-color:black;
border-radius:15px;
}


#banner {
	height:50px;
	width:100%;
	background-color:#424240;
	font-size: 30px;
	color:#d1d1c9;
	margin-bottom: 30px;
}

#footer {
	height:200px;
	width:100%;
	background-color:#424240;
	font-size: 30px
}


#home {
	margin-top:60px;
}

.wrap-list {
width: 40%;
border-radius: 10px;
border: 5px ridge white;
}

.wrap-trivia {
height: 200px;
width: 450px;
border: 5px double yellow;
}


.para {
	font-size:25px;
}


#background-h {
height: 2048px;
}


.navitem {
list-style-type:none;
display:inline;
margin-right:.3em;
padding:2px 5px;
}

#navmenu {
text-align:center;
background-color:#424240;
color:white;
}
 
a:link{
color:#fcba03;
}

a:visited{
color:#fcba03;
}

a:hover{
color:blue;
}

a:active{
color:blue;
}